DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=changeme
SQLITE_DB_PATH=/data/db.sqlite3
STRIPE_TEST_SECRET_KEY=sk_test_placeholder
STRIPE_LIVE_SECRET_KEY=sk_live_placeholder
DJSTRIPE_WEBHOOK_SECRET=whsec_placeholder
DJSTRIPE_WEBHOOK_VALIDATION=retrieve_event
STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_PUBLIC_KEY=pk_test_placeholder
STRIPE_PRODUCT_ID=prod_placeholder
SITE_ID=1
DJANGO_SITE_DOMAIN=127.0.0.1
DJANGO_SITE_NAME=Savannah Local
